.sidebar {
    width: 250px;
    background-color: #000;
    color: white;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #222;
}

.topNav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logoutSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divider {
    height: 1px;
    background-color: #222;
    margin-bottom: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}
